<form class="contact" [style.display] = "display" [formGroup]="form">
    <div class="row" >
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">
          </div>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">First Name</label>
              <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
            </div>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Last Name</label>
              <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
            </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Proposal</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="text"></textarea>
          </div>
    </div>
    <div class ="row">
        <div class="col-auto">
          <button class = "btn btn-primary" type="submit" (click)="Contact();">Contact</button>
        </div>
        <div class="col-auto">
          <button type="button" (click)="closeContact();" class = "btn btn-primary" >Cancel</button>
        </div>
    </div>
</form>
