
<div class = "about">
    <div class ="row">
        <div class ="col-3">
            <div *ngIf="logIn;"> 
                <div class="iconPhoto">
                    <tr class="trPhoto">
                        <button type="button" (click)="editOnClick(0, 'photoPath', 'img')" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-list"></i>
                            <mat-icon class="iconLogo">create_round</mat-icon>
                        </button>
                    </tr>
                </div>
            </div>
            <img class = "foto" [src] = "this.retrivedImg.data"/>
        </div>
    </div>
    <div class = "row">
        <div class = "rectangulo">
            <h1>About Me</h1>
            <div *ngIf="logIn;">
                <div class="iconText">
                    <tr>
                        <button (click)="editOnClick(0, 'text', 'text')" type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-list"></i>
                            <mat-icon class="iconLogo">create_round</mat-icon>
                        </button>
                    </tr>
                </div> 
            </div>       
            <p>{{entryData?.text}}
            </p>   
        </div>
    </div>
    <div class ="row" *ngIf="Edit">
        <app-dynamic-form  (newBoolEvent) = "eventEdit($event)" [entryData]="entryData" [entryProp]="sendData" (newItemEvent) = "addItem($event)"  ></app-dynamic-form>
    </div>
</div>