
/*General*/
* {font-family: 'ralewaythin', Arial, sans-serif; font-weight: 900; color: white;}

body { background-color: black;}

/*Navigation*/

.navigation {border-style:solid; border-width: 2px; border-radius: 5px; border-color: rgb(255, 255, 255,0.3) ;background-color: #0074d9; margin-top:-10%; margin-bottom: 10%; margin-left: 1%}
.navGuide img {width: 50%; height:auto; margin-left: 50%;}
.navGuide{
    display:inline-block;
    font-weight: 900;
    color: white;
    font-size: 1.3vw;
    text-decoration:solid;
    border-color: transparent; 
    background-color: transparent;
}
.logo {margin-top: 1%; margin-left: 2%;}



/*Banner*/
.banner {
  border-radius: 25px;
  width: 99%;
  height: 70%;
  margin-left: 1%;
  margin-top: -5%;
}

/*About Me */
.about {margin-top: -35%; margin-left: 3%}
.about img {width: 80%; height: auto;}
.rectangulo {border-style:solid; border-width: 2px; border-radius: 15px; color: rgb(255, 255, 255,0.3); margin-top: 3%; margin-left: 2%; width: 97%; height: auto;}
.rectangulo h1 {margin-left: 1%;}
.about h2 {margin-top: 2%;}
.about p {margin-bottom: 4%;}

/*Experience*/
.experience {border-style:solid; border-width: 2px; border-radius: 15px; color: rgb(255, 255, 255,0.3); margin-top: 3%; margin-left: 4%;}
.newExp {margin-top: 2%; margin-left: -4%;}
.newExp h3, .newExp p {margin-left: 2%;}
.newExp p {margin-bottom: 8%;}
.expText {margin-left: 2%; margin-top: 2%;}
.newExp img {width: 40%; height: auto; margin-left: 80%;}

/*Education*/
.education {border-style:solid; border-width: 2px; border-radius: 15px; color: rgb(255, 255, 255,0.3); margin-top: 3%; margin-left: 4%;}
.eduText {margin-left: 2%; margin-top: 2%;}
.newEdu {margin-left: 5%; margin-bottom: 1%; }

/*Skills*/
.skills {border-style:solid; border-width: 2px; border-radius: 15px; color: rgb(255, 255, 255,0.3); margin-top: 3%; margin-left: 4%;}
.skills h1 {margin-left: 2%;}
.skill {margin-top: 5%; width: 70%; margin-left: 2%; margin-bottom: 3%;}
.skills .row {margin-top: 2%;}
.skills button {margin-left: 2%;}

/*Tecnologies*/
.tecnologies {border-style:solid; border-width: 2px; border-radius: 15px; color: rgb(255, 255, 255,0.3); margin-top: 3%; margin-left: 4%;}
.tecnologies h1 {margin-top: 2%; margin-left: 2%;}
.tecnologies img {width: 40%; height:auto; margin-left: 25%;}

/*Projects*/
.projects {border-style:solid; border-width: 2px; border-radius: 15px; color: rgb(255, 255, 255,0.3); margin-top: 3%; margin-left: 4%;}
.projects h2 {margin-top: 5%; margin-left: 2%;}
.projects h1 {margin-left: 2%;}
.projects p {margin-top: 2%; margin-left: 2%;}
.projects img {width: 30%; height: auto; margin-left: 35%;}

/*Contact*/
.contact {border-style:solid; border-width: 2px; border-radius: 15px; color: rgb(255, 255, 255,0.3); margin-top: 3%; margin-left: 4%;}
.contact h1 {margin-top: 2%; margin-left: 2%;}
.contact form {width: 80%; height: auto; margin-left: 2%;}
.contact button {margin-top: 10%;}
/*Login*/
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}



span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  color: white;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal .form {margin-left: 39%; width: 20%;}

.modal .container button {margin-left: -10%;}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.form {margin-bottom: 5%;}
.cancelbtn {margin-bottom: 5%;}
.avatar {width: 10%; height: auto;}

/*Ending Frame*/
.endingFrame {margin-top: 20%; background-color: black;}
#frame1 {margin-top: 10%;}