/*Navigation*/
.navGuide img {width: 50%; height:auto; margin-left: 50%;}
.navGuide{
    display:inline-block;
    font-weight: 900;
    color: white;
    font-size: 1.3vw;
    text-decoration:solid;
    border-color: transparent; 
    background-color: transparent;
    align-items: baseline;
}
.logo {margin-top: 1%; margin-left: 2%;}

h3 {
    margin-top:3%;
}
button {
    margin-top: 10%;
}

