<div class="navigation">
  <app-header> </app-header>
</div>
<div class="banner">
  <app-banner> </app-banner>
</div>
<div class="about">
  <app-about></app-about>
</div>
<div class = "experience">
  <div class = "row">
    <h1 class = "expText">Experience</h1>
  </div>
  <app-experience [entryData] = "ex" *ngFor="let ex of experience"></app-experience>
</div>
<div class="education">
  <div class = "row">
    <h1 class = "eduText">Education</h1>
  </div>
  <app-education [entryData] = "ed" *ngFor="let ed of education"></app-education>
</div>
<div class="skills">
  <div class="row">
    <h1 class="skillText"> Skills </h1>
  </div>
  <app-skills [entryData] = "skill" *ngFor="let skill of skills"></app-skills>
</div>
<div class="projects">
  <h1>Projects</h1>
  <app-projects [entryData] = "pro" *ngFor="let pro of projects"></app-projects>
</div>
<div class="tecnologies">
  <h1>I work with these tecnologies</h1>
  <app-tecnologies [entryData] = "tec" *ngFor="let tec of tecnologies"></app-tecnologies>
</div>
<div class="contact">
  <h1>Contact me</h1>
  <app-contact></app-contact>
</div>

<div class="endingFrame"></div>