<div class="login">
    <div id="id01" class="modal" [style.display] = "display">
              
        <form [formGroup]="form">
          <div class="imgcontainer">
            <span (click)="closeModal();" class="close" title="Close Modal">&times;</span>
            <img src="../../assets/images/avatarIcon.png" alt="Avatar" class="avatar">
          </div>
          <div class = "form">                     
            <div class ="row">
                <label for="username"><b>Username</b></label>
                <input type="username" placeholder="Enter Username" formControlName="username" required>
              </div>
              <div class ="row">
                <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" formControlName="password" required>
              </div>
              <div class ="row">
                <button class = "btn btn-primary" type="submit" (click)="Login();">Login</button>
              </div>
              <div class ="row">
                <label>
                    <input class="check" type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>  
          </div>            
          <div class="container">
            <button type="button" (click)="closeModal();" class="cancelbtn">Cancel</button>
          </div>
        </form>
    </div>
</div>