<div class ="skill">
    <div *ngIf="logIn;"> 
        <div class="iconSkill">
            <tr class="trPhoto">
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-list"></i>
                    <mat-icon class="iconLogo">create_round</mat-icon>
                </button>
            </tr>
        </div>
    </div>
    <h2> {{entryData?.name}} </h2>
    <div class="progress">
        
        <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]='entryData?.percentage' style = "color:white;"  aria-valuenow="entryData?.percentage" aria-valuemin="0" aria-valuemax="100">
            {{ entryData?.percentage }}%
        </div>
    </div>
    <div *ngIf="boolAdd && logIn">
        <div class="iconAdd">
            <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-list"></i>
                <mat-icon class="iconLogo">add_round</mat-icon>
            </button>
        </div>
    </div>
</div>